* {
	padding: 0px;
	margin: 0px;
}

/* Body */
body {
	background-color: black;
	font-family: Arial;
	font-size: 18px;
	color: white;
	line-height: 1.75;
}

/* Header */
#landingPage {
	background-image: url(./images/coding.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	padding:  0px 0px;
}
#landingPage img {
	width: 200px;
	height: 200px;
}
#landingPage h2 {
	color: rgb(255, 235, 133);
	line-height: 1;
}
#landingPage h1 {
}
#landingPage p {
	color: rgb(128, 128, 128);
}
#landingPage .button {
	text-decoration: none;
	border: rgb(255, 235, 133) 2px solid;
	color: white;
	padding: 5px 10px;
	border-radius: 10px;
}
#landingPage .button:hover {
	background-color: rgb(255, 235, 133);
}

#heading-container {
	background-color: rgba(0, 0, 0, 0.4);
	display: flex;
	padding: 0px 0px;
}
#heading-container div {
	padding: 30px 30px;
}
#heading-container #links {
	text-align: left;
	padding: 20px 0px;
}

/* Sections */
.flex-container {
		background-color: rgb(40, 40, 40);
		display: flex;
	}
.flex-container div {
	flex-basis: 50%;
	padding: 40px 40px;
}

/* Mobile Device Compatibility */
@media(max-width: 768px) {
	#heading-container {
		display: block;
		padding: 30px 0px;
	}
	#heading-container div {
		padding: 0px 30px;
	}
	#heading-container #links {
		text-align: center;
		padding: 20px 0px;
	}

	#landingPage{
	text-align: center;
	}

	.flex-container {
		display: block;
	}
}