/*
  TO DO: Add shapes to background
  TO DO: Add box shadow under elements
*/
.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 90vh;
  background-color: #3E4A54;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}
.summary h1 span {
  font-weight: 800;
  color: #EFE7BA;
}

.splash-buttons {
  display: flex;
  gap: 20px;
}

.splash-buttons a {
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
  background-color: #2B3742;
  color: #FFFFFF;
  font-weight: 700;
}

.profile-picture {
  width: 300px;
  height: 300px;
  border: 10px solid #2B3742;
  border-radius: 300px 60px 300px 300px;
  background-color: #2B3742;
}