/*
  TO DO: Add svg shapes to background
*/
.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 90vh;
  background-color: #3E4A54;
}

.summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 25%;
}

.summary span {
  font-weight: 800;
  color: #EFE7BA;
}

.summary p {
  max-width: 400px;
}

.splash-buttons {
  display: flex;
  gap: 5%;
}

/*
  TO DO: Make profile picture responsive
*/
.profile-picture {
  width: 300px;
  height: 300px;
  border: 10px solid #2B3742;
  border-radius: 300px 60px 300px 300px;
  background-color: #2B3742;
}
