/*
  TO DO: Add svg shapes to background
*/
.portfolio-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10%;
  background-color: #27313B;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}

@media (max-width: 828px) {
  .portfolio-page {
    padding: 10% 3% 10% 3%;
  }
}
