.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 1/1.125;
  width: 310px;
  border-radius: 30px;
  background-color: #2B3742;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 60%;
  border-radius: 30px 30px 0px 0px;
}

.card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
  width: 80%;
  height: 40%;
  padding: 10%;
}


@media (max-width: 828px) {
  .card {
    width: 40%;
  }
}