/*
  TO DO: Add svg shapes to background
  TO DO: Make image responsive
*/
.about-me-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  height: 100vh;
  background-color: #3E4A54;
}

.about-me-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: right;
  width: 30%;
  max-width: 425px;
}
