/*
  TO DO: Add svg shapes to background
*/
.contact-me-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  padding: 0% 10% 0% 10%;
  background-color: #27313B;
}

.contact-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  border-radius: 30px;
  padding: 40px 80px 40px 80px;
  background-color: #2B3742;
}

.contact-me-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 828px) {
  .contact-me-page {
    padding: 3%;
  }

  .contact-me-text {
    gap: 30px;
    padding: 5% 10% 5% 10%;
  }

  .contact-me-buttons {
    justify-content: center;
    align-items: center;
  }
}
