/*
  TO DO: Add svg shapes to background
*/
.contact-me-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 90vh;
  background-color: #3E4A54;
}

.contact-me-buttons {
  display: flex;
  gap: 20px;
