/*
  TO DO: Add svg shapes to background
*/
.contact-me-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #27313B;
}

.contact-me-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;
  border-radius: 15px;
  padding: 50px 150px 50px 150px;
  background-color: #2B3742;
}

.contact-me-buttons {
  display: flex;
  gap: 20px;
