.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 10vh;
  padding: 0% 10% 0% 10%;
  background-color: #3E4A54;
}

.navbar h1 {
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 800;
}

.navbar a {
  font-size: 1.125rem;
  font-weight: 700;
}

@media (max-width: 828px) {
  .navbar {
    flex-wrap: wrap;
    gap: 4%;
    padding: 0% 3% 0% 3%;
  }

  .navbar h1 {
    display: none;
  }

  .navbar a {
    font-size: 1.0625rem;
  }
}
