/*
  TO DO: Add media query to transform navbar elements into
  drop-down menu for mobile
*/
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  height: 10vh;
  padding: 0% 15% 0% 15%;
  background-color: #3E4A54;
}

.navbar h1 {
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 800;
}

.navbar a {
  font-size: 1.125rem;
  font-weight: 700;
}
