/*
  TO DO: Add svg shapes to background
*/
.skills-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  height: 100vh;
  padding: 0% 15% 0% 15%;
  background-color: #27313B;
}

/*
.skills-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 40%;
}
*/

.skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
}

.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  border-radius: 15px;
  padding: 30px;
  background-color: #2B3742;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}

.images img {
  width: 27%;
}

@media (max-width: 828px) {
  .skills-page {
    padding: 0% 3% 0% 3%;
  }
}
