/*
  TO DO: Add svg shapes to background
  TO DO: Make the page layout appear more cohesive
*/
.skills-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15%;
  height: 100vh;
  background-color: #3E4A54;
}

.skills-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  width: 40%;
}

.technical-skills {
  display: flex;
  justify-content: center;
  width: 50%;
  gap: 10%;
}

.front-end, .back-end {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 30px;
  border-radius: 15px;
  padding: 30px;
  background-color: #2B3742;
}

.front-end-images, .back-end-images {
  display: flex;
  gap: 30px;
}
