.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 10vh;
  padding: 0% 10% 0% 10%;
  background-color: #1D252C;
}

@media (max-width: 828px) {
  .footer {
    padding: 0% 3% 0% 3%;
  }
}
