* {
  margin: 0;
  padding: 0;

  /* Font "Inter" from https://fonts.google.com/ */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

a {
  text-decoration: none;
}

/* Fullscreen page scrolling */
/*
.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.screen {
  scroll-snap-align: start;
  height: 100vh;
}
*/