* {
  margin: 0;
  padding: 0;

  /* Font "Inter" from https://fonts.google.com/ */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #FFFFFF;
}

p {
  font-size: 1rem;
  font-weight: 500;
  color: #C9C9C9;
}

a {
  font-size: 1rem;
  text-decoration: none;
  color: #C9C9C9;
}

.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}

.page {
  scroll-snap-align: start;
  height: 100vh;
}

.button {
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
  width: 100px;
  background-color: #2B3742;
  color: #FFFFFF;;
}

.button p {
  font-weight: 700;
  color: #FFFFFF;
}
