* {
  margin: 0;
  padding: 0;

  /* Font "Inter" from https://fonts.google.com/ */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #FFFFFF;
}
p {
  font-size: 1rem;
  font-weight: 500;
  color: #C9C9C9;
}
a {
  text-decoration: none;
  color: #C9C9C9;
}

/* Fullscreen page scrolling */
.app {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
}
.page {
  scroll-snap-align: start;
  height: 100vh;
}