/*
  TO DO (maybe): Separate styles based on component
*/

/* All elements */
* {
  margin: 0;
  padding: 0;

  /* Font "Inter" from https://fonts.google.com/ */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

a {
  text-decoration: none;
}

/* Navbar */
/*
  TO DO: Add media query to transform navbar elements into
  drop-down menu for mobile
*/
.navbar {
  display: flex;
  padding: 0% 10% 0% 10%;
  gap: 5%;
  align-items: center;
  height: 120px;
  background-color: #1D252C;
}
.navbar p {
  margin-right: auto;
  font-size: 1.25rem;
  font-weight: 800;
  color: #FFFFFF;
}
.navbar a {
  font-size: 1.125rem;
  font-weight: 700;
  color: #C9C9C9;
}

/* SplashPage */
/*
  TO DO: Add shapes to background
  TO DO: Add box shadow under elements
  TO DO: Fix vh issue for different screen sizes
*/
.splash-page {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0% 5% 0% 5%;
  gap: 10%;
  height: 86.8vh; /* temporary? */
  background-color: #6A7884;
}
.summary {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
}
.summary h1 {
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
}
.summary h1 span {
  font-weight: 800;
  color: #EFE7BA;
}
.summary p {
  font-weight: 500;
  color: #C9C9C9;
}
/* TO DO: Figure out the button background situation */
.summary a {
  margin-right: 20px;
  border-radius: 15px;
  padding: 10px 25px 10px 25px;
  background-color: #2B3742;
  color: #FFFFFF;
  font-weight: 700;
}
.picture {
  width: 300px;
  height: 300px;
  border: 10px solid #2B3742;
  border-radius: 300px 60px 300px 300px;
  background-color: #2B3742;
}