* {
  margin: 0;

  /* Font "Inter" from https://fonts.google.com/ */
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

#root {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}